
 .card{
    @include colorized ($color-principal, $color-secondary);
    @include spaceling(0px, 40px);
    @include flex(column wrap);
    box-shadow: 0px 10px 40px 10px rgba(0,0,0,0.3);
    border-radius: 30px;
    &__header{
        @include flex($flex-flow:row nowrap, $justify-content:normal, $align-items:center);
    }
    &__img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    &__title{
        @include spaceling(0px, 10px 0px 10px 20px);
    }
    &__name{
        @include spaceling(2px, 0px);
        @include text-as(20px);
    }
    &__description-name{
        @include spaceling(2px, 0px);
        @include text-as(15px, lighter);
    }
    &__title-comment{
        @include text-as(24px);
    }
    &__comment{
        @include text-as(16px);
    }
    &--principal{
        @include spaceling(10px 0px, 40px);
        @include colorized($color-principal, $color-principal-card);
        @include flex(column wrap);
        background-image: url(../assets/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position:84% 3%;
        &:hover{
            @include colorized($color-secondary, $color-principal); 
        }
    }
    &--black{
        @include colorized($color-principal, $color-secondary);
        &:hover{
            @include colorized($color-principal, $color-fourth); 
        }
 
    }
    &--white{
        @include colorized($color-secondary, $color-principal);
        &:hover{
            @include colorized($color-principal, $color-fourth); 
        }
    }
}
.card--item-1{
    grid-area: item-1;
}
.card--item-2{
    grid-area: item-2;
}
.card--item-3{
    grid-area: item-3;
}
.card--item-4{
    grid-area: item-4;
}
.card--item-5{
    grid-area: item-5;
}
