@charset "UTF-8";
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/*FONTS*/
/* Configuramos la tipografía para toda la web */
body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-size: 100%;
  max-width: 1440px;
  background-color: rgb(235, 235, 235);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  color: white;
  background-color: black;
  margin: 0px;
  padding: 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: normal;
  align-items: normal;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.card__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: normal;
  align-items: center;
  margin: 0 0 0 20px;
  padding: 0;
}
.card__img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.card__title {
  margin: 0px;
  padding: 10px 0px 10px 20px;
}
.card__name {
  margin: 2px;
  padding: 0px;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
}
.card__description-name {
  margin: 2px;
  padding: 0px;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
}
.card__title-comment {
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
}
.card__comment {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
}
.card--principal {
  margin: 10px 0px;
  padding: 40px;
  color: white;
  background-color: red;
  display: flex;
  flex-flow: column wrap;
  justify-content: normal;
  align-items: normal;
  background-image: url(../assets/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 84% 3%;
}
.card--principal:hover {
  color: black;
  background-color: white;
}
.card--black {
  color: white;
  background-color: black;
}
.card--black:hover {
  color: white;
  background-color: gray;
}
.card--white {
  color: black;
  background-color: white;
}
.card--white:hover {
  color: white;
  background-color: gray;
}

.card--item-1 {
  grid-area: item-1;
}

.card--item-2 {
  grid-area: item-2;
}

.card--item-3 {
  grid-area: item-3;
}

.card--item-4 {
  grid-area: item-4;
}

.card--item-5 {
  grid-area: item-5;
}

.header {
  margin: 0;
  padding: 40px 20px;
}
.header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header__img {
  width: 150px;
}
.header__text {
  margin: 0;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: end;
  font-style: initial;
  text-transform: uppercase;
  width: 210px;
  display: none;
}
.header__button {
  margin: 0px 0px 0px 10px;
  padding: 10px 20px;
  color: black;
  background-color: rgb(235, 235, 235);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  border-radius: 50%;
}
.header__button:hover {
  color: white;
  background-color: black;
}
.header__title {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  margin: 60px 0px;
  padding: 0px;
  width: 350px;
  line-height: 30px;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
    text-align: initial;
    font-style: initial;
    text-transform: none;
    margin: 60px 0px 0px;
    padding: 0px;
    width: 100%;
    line-height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .header__title {
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
    text-align: initial;
    font-style: initial;
    text-transform: none;
    margin: 60px 0px 0px;
    padding: 0px;
    width: 70%;
    line-height: 60px;
  }
  .header__text {
    display: block;
  }
}

.section-container {
  margin: 0px;
  padding: 40px;
  display: grid;
  width: 100%;
  grid-template-areas: "item-1 " "item-2 " "item-3 " "item-4 " "item-5 ";
  gap: 20px;
  background-image: url(../assets/burger.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: 0 10%;
}
@media screen and (min-width: 768px) {
  .section-container {
    grid-template-areas: "item-1 item-1 item-2 " "item-3 item-4 item-4 " "item-5 item-5 item-5 ";
  }
}
@media screen and (min-width: 1024px) {
  .section-container {
    grid-template-areas: "item-1 item-1 item-2 item-5 " "item-3 item-4 item-4 item-5 ";
  }
}

.footer {
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  font-style: initial;
  text-transform: none;
}
.footer__notices {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  margin: 0;
  padding: 10px;
}
.footer__notices li {
  margin: 10px 0px;
  padding: 0px;
}
.footer__legal {
  font-size: 14px;
  font-weight: regular;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  margin: 0;
  padding: 10px;
}
.footer__legal li {
  margin: 10px 0px;
  padding: 0px;
  color: gray;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 20px;
    padding: 0px;
    font-size: inherit;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    font-style: initial;
    text-transform: none;
  }
  .footer li {
    margin: 5px;
    padding: 0px;
    font-size: 12px;
    font-weight: regular;
    text-decoration: none;
    text-align: initial;
    font-style: initial;
    text-transform: none;
    display: inline;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 20px;
    padding: 0px;
    font-size: inherit;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    font-style: initial;
    text-transform: none;
  }
  .footer li {
    margin: 5px;
    padding: 0px;
    font-size: 12px;
    font-weight: regular;
    text-decoration: none;
    text-align: initial;
    font-style: initial;
    text-transform: none;
    display: inline;
  }
}/*# sourceMappingURL=style.css.map */