
.footer{
    text-align: center;
    &__notices{
        @include fonts(20px, bold);
        @include spacing(0, 10px);
        list-style-type: none;
        li{
            @include spacing(10px 0px, 0px);
        }
    }
    &__legal{
        @include fonts(14px, regular);
        @include spacing(0, 10px);
        list-style-type: none;
        li{
            @include spacing(10px 0px, 0px);
            @include colorized ($color-fourth, &$color-principal);
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
   
    .footer{
        @include flex(flex, row, space-between, center);
        @include spacing(0px 50px 20px, 0px);
        text-align: center;
        text-decoration: none;
        transition-duration: 0.5s;

        li{
            @include spacing(5px, 0px);
            @include fonts(12px, regular);
            display: inline;
            transition-duration: 0.5s;
        }
    }
} 

@media screen and (min-width: 1024px) {
    
    .footer{
        @include flex(flex, row, space-between, center);
        @include spacing(0px 50px 20px, 0px);
        text-decoration: none;
        text-align: center;
        transition-duration: 0.5s;

        li{
            @include spacing(5px, 0px);
            @include fonts(12px, regular);
            display: inline;
            transition-duration: 0.5s;
        }
    }
}
