
.section-container{
    @include spacing(0px, 40px);
    display: grid;
    grid-template-areas:
        "item-1 " 
        "item-2 " 
        "item-3 " 
        "item-4 " 
        "item-5 " ;
    gap: 20px;
    background-image: url(../assets/burger.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 0 10%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .section-container{
        transition-duration: 0.5s;
        grid-template-areas:
            "item-1 item-1 item-2 " 
            "item-3 item-4 item-4 " 
            "item-5 item-5 item-5 ";
    }
} 

@media screen and (min-width: 1024px) {
    .section-container{
        transition-duration: 0.5s;
        grid-template-areas:
            "item-1 item-1 item-2 item-5 " 
            "item-3 item-4 item-4 item-5 ";
    }
}