@mixin flex ($display:flex, $flex-flow:row wrap, $justify-content:normal, $align-items:normal){
    display: $display;
    flex-flow: $flex-flow;
    justify-content:$justify-content ;
    align-items:$align-items;
}

@mixin spaceling ($margin:0, $padding:0){
    margin: $margin;
    padding:$padding;
}

@mixin colorized ($color:$color-principal, $background-color: transparent){
    color: $color;
    background-color:$background-color;
}

@mixin text-as($font-size:normal, $font-weight:normal, $text-decoration:none, $text-align:none, $font-style:none, $text-transform:none){
    font-size: $font-size;
    font-weight: $font-weight;
    text-decoration: $text-decoration;
    text-align: $text-align;
    font-style: $font-style;
    text-transform: $text-transform;
}
@mixin media-querys($screen){
    @media screen and (min-width:$screen) {
        @content;
    }
}